

params {

    inputfolder = ''
    modelfolder = '/apps/PICA/models'
    workdir     = ''


    hmmdb                  = '/var/www/hmmdb/db/db.hmm'
    balanced_accuracy_path = "/apps/phenDB/source/pipeline/scripts/get_balanced_accuracy.py"
    description_file       = '/apps/phenDB/docs/PICA_descriptions.txt'
    accuracy_cutoff        = 0.0
    omit_nodes             = ""
    omit_models            = ["AEROBE", "AOB"]
    archaea_model_path     = '/apps/PICA/ARCHAEA'
    omit_in_archaea        = ["T3SS", "T4SS", "T6SS", "GRAMNEGATIVE"]
}

profiles {

    standard {

        process.executor = 'local'

    }

    cluster {

        process.executor = 'slurm'
        trace.enabled    = 'true'
        trace.file       = 'phenDB_trace.txt'

    }

}
