

params {
    inputfolder = ''
    modelfolder = '/apps/PICA/models_devel'
    workdir     = ''

    hmmdb                  = '/var/www/hmmdb/db/db.hmm'
    description_file       = '/apps/phenDB_devel_LL/docs/PICA_descriptions.txt'
    pica_dependencies      = '/apps/phenDB_devel_LL/source/pipeline/trait_dependencies.tsv'
    max_bin_size           = 30000000
    omit_nodes             = ""
}

profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'slurm'
        trace.enabled    = 'true'
        trace.file       = 'phenDB_trace.txt'
    }

}
