* {
    margin:0 0 0 0;
    box-sizing:border-box
}

body {
}

form {

}

#input_section {

}

#result_section {

}

#title {
    text-align: center;
}

#description {
    padding-bottom:30px;
}

.row {
    display:flex;
    flex-direction:row;
    padding-bottom:10px;
    padding-top:10px;
}

.column {
    display:flex;
    flex-direction:column;
}

.ui-spinner{
    display:flex;
}

#requested_balac {
    flex:100;
}

.inputField {
    max-width:500px;
}