* {
    margin:0 0 0 0;
    box-sizing:border-box;
    table-layout:auto;
}

body {
}

form {

}

#input_section {

}

#result_section {

}

#title {
    text-align: center;
}

#description {
    padding-bottom:30px;
}

.row {
    display:flex;
    flex-direction:row;
    padding-bottom:10px;
    padding-top:10px;
}

.column {
    display:flex;
    flex-direction:column;
}

.ui-spinner{
    display:flex !important;
}

#requested_balac {
    flex:100;
}

#requested_conf {
    flex:100;
}

#disable_cutoffs {
    flex:100;
}

.inputField {
    max-width:500px;
}

.table_info_box {
    text-align: center;
}

.result_table {
    overflow-x:auto;
    width:100%;
}

.table_buttons {
    margin-bottom: 10px;
    text-align:right;
}

.show_hide_all_button {
    font-style: italic;
    font-size:12px !important;
    padding: 1px 1px 1px 1px !important;
}

.dt-button.buttons-columnVisibility {
    font-size:12px;
    padding: 1px 1px 1px 1px !important;
}